.header{
    background-color: #2E3192;
}

.main-container{
    position: absolute;
}
.edit-container{
    background-color: rgba(13, 16, 66, 0.5);
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 70%;
}

.edit-form{
    display: flex;
    flex-direction: row;
}

