{% extends "./base.html" %}

{% load static %}

{% block main_content%}
<div class="are_you_sure">
    <div class="warning">
        <div class="header ukoncit-header">
            <p>UKONCIT PROVOZ</p>
        </div>
        <p>OPRAVDU CHCETE UKONCIT PROVOZ?</p>
        <div class="two_buttons">
            <form method="post">
                {% csrf_token %}
                <button type='submit' class='ukoncit_btn ukoncit_btn_ukoncit' name="ukoncit" id="ukoncit-btn">Ukoncit provoz</button>
            </form>
            <button type="button" onclick="javascript:history.back()" class="ukoncit_btn ukoncit_btn_vratit">Vratit se zpet</button>

        </div>
    </div>
</div>
{% endblock main_content%}
