{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/entry.css' %}">
</head>

<body >
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div class="navbar">
        <div class="casomira-logo">
            <img src="{% static 'main/logo.svg'%}" alt="Casomira" class="logo">
        </div>
    </div>

    <div class="main-window">
        <div class="header">
            <h1>ZAPIS DO PROVOZU</h1>
        </div>


        <form method="post" >
            {% csrf_token %}
            <div id="app">
            <div class="vyber-container" >
                <div class="person-container">                   
                    <div class="choice-header" id="choice-header" @click="toggleShowPeople">VÝBĚR OSOB</div>
                    <div class="dropdown-container">
                    <div v-show="showPeople" class="dropdown">
                        {% if person_list %}
                        {% for person in person_list %}
                        <div class="choice-container">
                            <input type="checkbox" value="{{person.id}}" name="person_choosen" id="person:{{person.id}}"
                                class="person" v-model="personChecked">
                            <label for='person'>{{person.first_name}} {{person.last_name}}</label>
                            <hr>
                        </div>
                        {% endfor %}
                        {% else %}
                        <h2>No people are available</h2>
                        {% endif %}
                        </div>
                    </div>
                </div>

                <div class="aircraft-container">
                    <div class="choice-header" id="choice-header" @click="toggleShowAircrafts">VÝBĚR LETADEL</div>
                    <div class="dropdown-container">
                        <div v-show="showAircrafts" class="dropdown">
                        {% if aircraft_list %}
                        {% for aircraft in aircraft_list %}
                        <div class="choice-container">

                            <input type="checkbox" value="{{aircraft.id}}" id="aircraft:{{aircraft.id}}"
                                name="aircraft_choosen" class="aircraft" :value="aircraft" v-model="aircraftChecked">
                            <label for="aircraft">{{aircraft.registration}}</label>
                            <hr>
                        </div>
                    {% endfor %}
                    {% else %}
                    <h2>No aircrafts are available</h2>
                    {% endif %}
                        </div>
                        </div>
                </div>


            </div>


            <div class="error-container" v-show="showError">
                <p class="error" id="error" >${ errorMessage }$</p>
            </div>

            <div class="btn-container">
                <button @click.stop="entryValidation"  type="submit" class="btn-zapis" id="zapis-btn" name="confirm_entry" value="confirm_entry">
                    Potvrdit zapis
                </button>
            </div>
            </div>
        </form>



    </div>
    <script>
        const app = Vue.createApp({

            data() {
            return {
              message: 'Hello Vue!',
              showPeople: false,
              showAircrafts: false,
              personChecked: [],
              aircraftChecked: [],
              showError: false,
              errorMessage: "Je nutné vybrat alespoň 1 letadlo a 2 osoby"
            }
          },
            methods:{
                toggleShowPeople(){
                    this.showPeople = !this.showPeople
                },
                toggleShowAircrafts(){
                    this.showAircrafts = !this.showAircrafts
                },
                entryValidation(event){
                    console.log(this.personChecked.length, this.aircraftChecked)
                     if (this.personChecked.length < 2 || this.aircraftChecked.length < 1){
                        this.showError = true;
                        event.preventDefault(); 
                     }else{
                        this.showError = false;
                     }
                }
            },
            compilerOptions: {
                delimiters: ["${", "}$"]
            },
        })
        const moundetApp = app.mount("#app")
      </script>

    <script src="{% static 'main/entry.js' %}"></script>
</body>

</html>